node_modules/**/*
.exponent/*
npm-debug.*
# Node
node_modules/
env.js

#API_KEYS
keys.js

# MobileFiles
client/mobile/__tests__/
client/mobile/android/
client/mobile/ios/
client/mobile/node_modules/

# macOS
.DS_Store
client/exponent/react-native-maps
# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IJ
#
.idea
*.iml
.gradle
local.properties

# node.js
#
node_modules/
npm-debug.log
Pods/
AirMapsExplorer.xcworkspace/
