html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app-container {
  width: 100%;
  height: 100%;
  position: relative;
}

#map {
  width: 70%;
  height: 100%;
  display: inline-block;
}

.form-panel {
  display: inline-block;
  width: 30%;
  height: 100%;
  background-image: linear-gradient(-225deg, #47CFEA 0%, #27A1AB 23%, #387B82 66%, #387A81 51%, #0F5866 100%);
  float:right;
}

.hippo-logo {
  margin-top: 30px;
  width: 57%;
}

.hippo-small-logo {
  height: 16px;
  width: 30px;
  margin-right: 10px;
}

.search-panel-heading {
  font-family: 'Handlee', cursive;
  color: white;
  font-size: 26px;
  margin-top: 27px;
}

.search-sub-heading {
  color: white;
  font-size: 17px;
  margin-top: 15px;
  margin-bottom:26px;
  font-weight: 100;
  letter-spacing: 0.8px;
}


.search-current-location {
  color: white;
  font-size: 10px;
  margin-top: 22px;
  font-weight: 100;
  letter-spacing: 0.8px;
}

.search-current-location:hover {
  cursor:pointer;
}


.directions-field {
  height: 41px;
  width: 90%;
  font-weight: 200;
  padding-left: 11px;
  margin-top: 4px;
  border: none;
}

.directions-field:focus {
  outline:none;
}

.directions-field-bottom:focus {
  outline:none;
}


.directions-field-bottom {
  height:41px;
  width: 90%;
  margin-top: 15px;
  font-weight:200;
  padding-left: 11px;
  border: none;
}

.directions-field-submit {
  font-family: 'Handlee', cursive;
  font-size: 26px;
  background-color: #4CCDB6;
  color: white;
  border: none;
  margin-top: 30px;
  padding-left: 11px;
  width: 90%;
  height: 41px;
}

.directions-field-submit:hover {
  font-family: 'Handlee', cursive;
  font-size: 26px;
  background-color: #00be9c;
  color: white;
  margin-top: 30px;
  padding-left: 11px;
  width: 90%;
  height: 41px;
}

.fa-spin {
  color:white;
  text-align: center;
  margin-top:50px;
}

.fa-circle-o-notch {
  color: #387b82;
  text-align: center;
  position: absolute;
  margin-top: 25%;
  margin-left: -15%;
  z-index: 1000;
}

.map-panel {
  font-size: 10px;
  font-weight: 800;
}

#safeURL {
  padding-top: 40px;
  text-align: center;
}

#safeURL p {
  margin-bottom: 0;
  color: white;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

.shine {
  background: white -webkit-gradient(linear, left top, right top, from(white), to(white), color-stop(0.5, black)) 0 0 no-repeat;
  -webkit-background-size: 30px;

  color: rgba(255, 255, 255, 0.7);
  -webkit-background-clip: text;

  -webkit-animation-name: shine;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes shine {
  0%
  {
    background-position:-250px;
    50%
    {
      background-position: center;
    }
  }
  100%
  {
    background-position:350px;
  }
}